html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Balsamiq Sans", cursive;
  text-rendering: optimizeLegibility;
  font-feature-settings: "onum" 1;
}
body li {
  line-height: calc(1.5em + 0.2vw);
  word-break: break-word;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  position: relative;
  max-width: 100%;
  border-style: none;
}
form {
  display: block;
  margin-top: 0em;
}
.page-header {
  padding: 1rem 2em;
  background: #747474;
  position: relative;
  display: grid;
  grid-auto-flow: column;

  transition: all 0.4s ease-in;
  box-sizing: border-box;
  column-gap: 0;
  justify-content: flex-start;
  align-items: center;
  padding: 0.8em;
  z-index: 2;
  width: 100%;
  font-family: "Balsamiq Sans", cursive;
  justify-content: space-around;
}
.mag-logo {
  font-size: 1em;
  line-height: 0;
  width: 3em;
  flex-basis: 3em;
  flex-shrink: 0;
  position: relative;
  z-index: 0;
  padding-left: 10px;
}
.mag-logo .logo-link {
  display: block;
  background: 0 0;
  outline: 0;
  padding: 0;
  color: transparent;
  text-shadow: none;
}
.mag-logo .logo-link picture {
  display: block;
  box-sizing: border-box;
}
.mag-logo img {
  height: 3.5em;
  transform: translate(0, 15%);
}
.navbar {
  position: relative;
  display: block;
  min-width: 0;
  color: #fff;
  font-size: 1.05em;
  grid-column: auto;
}
.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
  justify-content: space-between;
  font-size: 100%;
}
.menu-item {
  flex-grow: 0;
  background: 0 0;
  text-shadow: none;
  color: inherit;
  font-weight: 700;

  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  font-family: "Balsamiq Sans", cursive;
}
.menu-item-link {
  padding: 0.35em 0.9rem;
  background: 0 0;
  color: inherit;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
#menu-item-more {
  position: relative;
  width: 145px;
}
.menu-more-button {
  display: block;
  margin-left: 0.4em;
  width: 113px;
  height: 43px;
  text-align: left;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url(https://www.smashingmagazine.com/images/icons/menu-cat.svg);
  background-size: 30px auto;
  border-radius: 11px;
  box-shadow: 0 13px 27px -15px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  position: relative;
  font-family: "Balsamiq Sans", cursive;
  font-weight: 700;
  font-size: 20px;
  color: inherit;
  justify-content: space-around;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0.35em 0.5rem 0.35em 1rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.search-container {
  flex-basis: 500px;
  flex-shrink: 1;
  position: relative;
  right: 30px;
  display: flex;
}
.search-wrapper {
  position: relative;
  box-sizing: border-box;
}
.search-input {
  padding-left: calc(22px + 0.75em + 0.75em);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIyNHB4IiB3aWR0aD0iMjRweCI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIyMi4zMSIgeTE9IjIzLjYyIiB4Mj0iMy43MyIgeTI9IjMuMDUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNlOTM3MjIiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmODZmMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+TWFnbmlmaWVyPC90aXRsZT48cGF0aCBmaWxsPSJ1cmwoI2xpbmVhci1ncmFkaWVudCkiIGQ9Ik0yMy4zMyAyMC4xbC00LjczLTQuNzRhMTAuMDYgMTAuMDYgMCAxIDAtMy4yMyAzLjIzbDQuNzQgNC43NGEyLjI5IDIuMjkgMCAxIDAgMy4yMi0zLjIzem0tMTcuNDgtNS44NGE1Ljk0IDUuOTQgMCAxIDEgOC40MiAwIDYgNiAwIDAgMS04LjQyIDB6Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-size: 22px auto;
  background-position: 0.75em 50%;
  font-size: calc(1em + 0.1vw);
  border-radius: 11px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: all 0.2s ease-in-out;
}
#input {
  border: none;
  display: block;
  color: #333;
  background-color: #fff;
  padding: 0.4em 0.75em;
  border-radius: 5.5px;
  outline: 0;
  font-size: 1.15rem;
  width: 100%;
  padding-left: 40px;
  font-family: "Balsamiq Sans", cursive;
}
input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}
