html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Balsamiq Sans", cursive;
  text-rendering: optimizeLegibility;
  font-feature-settings: "onum" 1;
}
body li {
  line-height: calc(1.5em + 0.2vw);
  word-break: break-word;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  position: relative;
  max-width: 100%;
  border-style: none;
}
form {
  display: block;
  margin-top: 0em;
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.page-header {
  padding: 1rem 2em;
  background: #747474;
  position: relative;
  display: grid;
  grid-auto-flow: column;

  transition: all 0.4s ease-in;
  box-sizing: border-box;
  column-gap: 0;
  background-color: #747474;
  align-items: center;
  padding: 0.8em;
  z-index: 2;
  width: 100%;
  font-family: "Balsamiq Sans", cursive;
  justify-content: space-around;
}
.mag-logo {
  font-size: 1em;
  line-height: 0;
  width: 3em;
  flex-basis: 3em;
  flex-shrink: 0;
  position: relative;
  z-index: 0;
  padding-left: 10px;
}
.mag-logo .logo-link {
  display: block;
  background: 0 0;
  outline: 0;
  padding: 0;
  color: transparent;
  text-shadow: none;
}
.mag-logo .logo-link picture {
  display: block;
  box-sizing: border-box;
}
.mag-logo img {
  height: 3.5em;
  transform: translate(0, 15%);
}
.navbar {
  position: relative;
  display: block;
  min-width: 0;
  color: #fff;
  font-size: 1.05em;
  grid-column: auto;
}
.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
  justify-content: space-between;
  font-size: 100%;
}
.menu-item {
  flex-grow: 0;
  background: 0 0;
  text-shadow: none;
  color: inherit;
  font-weight: 700;

  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  font-family: "Balsamiq Sans", cursive;
}
.menu-item-link {
  padding: 0.35em 0.9rem;
  background: 0 0;
  color: inherit;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
#menu-item-more {
  position: relative;
  width: 145px;
}
.menu-more-button {
  display: block;
  margin-left: 0.4em;
  width: 113px;
  height: 43px;
  text-align: left;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url(https://www.smashingmagazine.com/images/icons/menu-cat.svg);
  background-size: 30px auto;
  border-radius: 11px;
  box-shadow: 0 13px 27px -15px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  position: relative;
  font-family: "Balsamiq Sans", cursive;
  font-weight: 700;
  font-size: 20px;
  color: inherit;
  justify-content: space-around;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0.35em 0.5rem 0.35em 1rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.search-container {
  flex-basis: 500px;
  flex-shrink: 1;
  position: relative;
  right: 30px;
  display: flex;
}
.search-wrapper {
  position: relative;
  box-sizing: border-box;
}
.search-input {
  padding-left: calc(22px + 0.75em + 0.75em);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIyNHB4IiB3aWR0aD0iMjRweCI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIyMi4zMSIgeTE9IjIzLjYyIiB4Mj0iMy43MyIgeTI9IjMuMDUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNlOTM3MjIiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmODZmMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+TWFnbmlmaWVyPC90aXRsZT48cGF0aCBmaWxsPSJ1cmwoI2xpbmVhci1ncmFkaWVudCkiIGQ9Ik0yMy4zMyAyMC4xbC00LjczLTQuNzRhMTAuMDYgMTAuMDYgMCAxIDAtMy4yMyAzLjIzbDQuNzQgNC43NGEyLjI5IDIuMjkgMCAxIDAgMy4yMi0zLjIzem0tMTcuNDgtNS44NGE1Ljk0IDUuOTQgMCAxIDEgOC40MiAwIDYgNiAwIDAgMS04LjQyIDB6Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-size: 22px auto;
  background-position: 0.75em 50%;
  font-size: calc(1em + 0.1vw);
  border-radius: 11px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: all 0.2s ease-in-out;
}
#input {
  border: none;
  display: block;
  color: #333;
  background-color: #fff;
  padding: 0.4em 0.75em;
  border-radius: 5.5px;
  outline: 0;
  font-size: 1.15rem;
  width: 100%;
  padding-left: 40px;
  font-family: "Balsamiq Sans", cursive;
}
input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}
main {
  position: relative;
  z-index: 0;
  background-color: #fff;
  display: block;
  font-family: "Balsamiq Sans", cursive;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.articles-container {
  position: relative;
  background-color: #747474;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  min-height: 0;
  font-family: "Balsamiq Sans", cursive;
}
.do-not-miss {
  left: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: "Balsamiq Sans", cursive;
  text-align: center;
  margin-top: 20px;
  padding: 0px;
  position: absolute;
  top: 5%;
  width: 15em;
  letter-spacing: -1px;
  z-index: 11;
  font-size: 30px;
  box-sizing: border-box;
  box-shadow: rgba(54, 52, 52, 0.8);
}
.articles-container .do-not-miss span {
  background-color: #fff;
  padding: 0.3em 0.4em;
  line-height: 1.5em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.article {
  color: #fff;
  position: relative;
  font-weight: 700;
  padding: 10em 5vw 7em;
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  box-sizing: border-box;
}
.article:nth-of-type(3n + 1) {
  background-color: #5f5e5e;
}
.article:nth-of-type(3n + 2) {
  background-color: #6b6a6a;
}
.article:nth-of-type(3n + 3) {
  background-color: gray;
}
.article:nth-of-type(3n + 4) {
  background-color: #9c9a9a;
}
.author {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}
.avatar {
  float: left;
  margin-top: 10px;
  text-align: center;
}
.author-image {
  width: 75px;
  vertical-align: middle;
  box-shadow: rgba(54, 52, 52, 0.8) 0px 20px 40px 10px;
  transform: rotate(-15deg);
  transform-origin: left bottom;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  border-image: initial;
  border-radius: 11px;
}
.author-image:hover {
  transform: rotate(0deg);
  transform-origin: left bottom;
}
.author .author-description {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
}
.author-name {
  display: inline-block;
  float: none;
  vertical-align: middle;
  white-space: initial;
  margin: 1em 0 0 0.6em;
}
.author-description .author-name a {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: "Balsamiq Sans", cursive;
}
.author-description .wrote {
  font-style: italic;
  font-weight: 400;
  font-family: "Balsamiq Sans", cursive;
}
.article-title {
  margin: 0.5em 0 -0.25em;
  line-height: 1.2;
  font-family: "Balsamiq Sans", cursive;
  padding: 20px;
  font-size: 30px;
}
.article .article-title .title {
  color: #fff;
  text-shadow: none;
  background: 0 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  position: static;
  z-index: 1;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.comment {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  padding: 5px;
  font-size: 0.35em;
  margin: 0.625em 0;
  padding-left: 1.75em;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNyAyOC43MyIgd2lkdGg9IjI4cHgiIGhlaWdodD0iMjhweCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jb21tZW50PC90aXRsZT48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik05NjAuMzMgMjUyLjMzaC00LjUybC4wNiA3LjczLTYuNjktNy43M2gtOS44NWEzIDMgMCAwIDEtMy0zdi0xNWEzIDMgMCAwIDEgMy0zaDIxYTMgMyAwIDAgMSAzIDN2MTVhMyAzIDAgMCAxLTMgM3oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05MzYuMzMgLTIzMS4zMykiLz48L3N2Zz4=);
  background-position: left top 70%;
  background-size: 1.25em auto;
  background-repeat: no-repeat;
}
.hashtags {
  clear: both;
  padding-top: 1em;
  margin: 1em 0;
  padding-left: 0;
  line-height: 1.8;
}
.tagname {
  font-size: calc(0.8em + 0.35vw);
  font-weight: 700;
  margin-right: 0.75em;
  display: inline-block;
  white-space: nowrap;
}
.tagname:first-child {
  padding-left: 0;
}
.tagname a {
  background: 0 0;
  text-shadow: none;
  color: inherit;
  padding: 0;
  position: relative;
  z-index: 1;
}
.count {
  color: inherit;
  font-weight: 700;
  font-size: 0.7em;
  position: relative;
  top: -0.5em;
}

.arrow-footer i {
  font-size: 30px;
}
.latest-articles {
  background-color: #f6f3f2;
  display: block;
}
.articles-container-2 {
  width: 94vw;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.articles-row {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.latest-posts {
  max-width: 17.5em;
  color: #000;
  display: block;
  text-align: right;
  font-variant: small-caps;
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.7em;
  margin: 3em 0 0;
  transform-origin: left center;
  transform: rotateZ(90deg) translateX(-5em) translateY(1em);
  letter-spacing: 4px;
  font-weight: bold;
  font-family: "Balsamiq Sans", cursive;
}
.latest-posts span {
  background-color: #f6f3f2;
  display: inline-block;
  padding: 0 0.6em;
  padding-left: 20px;
  position: relative;
  top: 0.1em;
}
.articles-wrapper {
  position: relative;
  z-index: 20;
  background-color: #f6f3f2;
}
.article-grid {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 0;
  padding: 0 1em;
  padding-bottom: 150px;
  transition: all 0.2s ease-out;
  position: relative;
  width: 33.33333%;
  float: left;
  font-family: "Balsamiq Sans", cursive;
}
.article-grid:nth-of-type(1) {
  order: 1;
}
.article-grid:first-of-type {
  margin-left: -2px;
}
.article-grid .content-wrapper {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
}
.article-grid .content-wrapper header {
  margin-bottom: 1em;
  box-sizing: border-box;
  display: block;
}
.content-time {
  color: #666;
  display: block;
  margin-bottom: 0.5em;
}
.article-grid .content-wrapper time {
  font-feature-settings: "smcp" 1, "c2sc" 1;
  letter-spacing: 1px;
  font-variant: small-caps;
  text-transform: lowercase;
  background-position: center 72%;
  font-size: 0.9em;
  box-sizing: border-box;
}
.content-title {
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
}
.article-grid .content-title a {
  color: #111;
  text-decoration: none;
  padding: 10px 0;
  background-image: linear-gradient(#333, #333);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: center bottom 29%;
  background-origin: padding-box;
  text-shadow: 3px 0 #f6f3f2, 2px 0 #f6f3f2, 1px 0 #f6f3f2, -1px 0 #f6f3f2,
    -2px 0 #f6f3f2, -3px 0 #f6f3f2;
  transition: color 0.1s ease-out;
  position: static;
}
.article-grid a {
  z-index: 1;
  position: relative;
}
.content-author {
  color: #666;
  font-weight: 700;
  font-size: 0.9em;
}
.content-author-name {
  color: #666;
  text-decoration: none;
  padding: 10px 0;
  background-image: linear-gradient(#666, #666);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: center bottom 29%;
  background-origin: padding-box;
  text-shadow: 3px 0 #f6f3f2, 2px 0 #f6f3f2, 1px 0 #f6f3f2, -1px 0 #f6f3f2,
    -2px 0 #f6f3f2, -3px 0 #f6f3f2;
  transition: color 0.1s ease-out;
}
